* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }

  .logo {
    width: 125px;
  }
  
    .lista_principal{
    display: flex;
    list-style-type: none;
    font-family: 'Arima Madurai', cursive;
    font-size: 15px;
   
  }