.jardinn_card_areas {
    text-align: center;
    width: 15rem;
    margin: 3%;
    

    h2{
        text-align: center;
        color: $color;
        
      }
  }

  .primariaa_card_areas {
    text-align: center;
    width: 15rem;
    margin: 3%;

    h2{
        text-align: center;
        color: $color;
        
      }
  }

  .secundariaa_card_areas {
    text-align: center;
    width: 15rem;
    margin: 3%;

    h2{
        text-align: center;
        color: cadetblue;
        
      }
  }